*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    background-color: rgb(32, 32, 32);
}

.izquierda{
    height: 30%;
    width: 30%;
    margin-left: 4em;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 20px;
    display: inline;
} 

.noticia{
     position: relative;
     overflow: hidden; 
     
} 

video{
    margin-top: 12px;
    margin-bottom: 12px;
    position: absolute;
     width: 100%;
     z-index: -1; 
}

 .parrafo{
    color: white;
    position: relative;
    overflow: hidden; 
    margin-top: 20px;


} 

div.noticia img.izquierda {
    float: left;
    margin-right: 50px;
    
  }
  